<h1>Welcome to Nova</h1>
<h2>Where all your dreams come true</h2>          
<form>
    <h3>Register</h3>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <div class="form-group">
        <label for="userName"><b>User Name</b></label>
        <input type="text" placeholder="Enter User Name" id="userName" />
    </div>     
    <div class="form-group">
        <label for="userPassword"><b>User Password</b></label>
        <input type="password" placeholder="Enter Password" id="userPassword" /> 
        <small class="form-text text-muted">We'll never share your password with anyone else.</small>
    </div>
    <button class="btn btn-primary" (click)="AddUser()">Register</button>
            
<!-- <img src="assets/supernova_time_bomb.jpg" style= "display: block; margin-left: auto; margin-right: auto; width: 50%; align-items: margin-right;" />  -->
</form>

<!-- <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->
    
       
    


